<div class="w-full flex justify-center items-center h-[100px] bg-gray-300">
  <div class="w-4/5 flex justify-between">
    <div class="flex gap-4">
      <a [routerLink]="['tickets']">Tickets</a>
      <a [routerLink]="['route-instances', 'start']">Start Route</a>
      <a [routerLink]="['commutes', 'start']">Commute</a>
      <a [routerLink]="['controls']">Controls</a>
      <a [routerLink]="['admin']">Admin Panel</a>
    </div>
    <div>
      @if (user) {
        <button mat-button [matMenuTriggerFor]="menu">{{user.email}}</button>
        <mat-menu #menu="matMenu">
          <button (click)="signOut()" mat-menu-item>Sign out</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      } @else {
        <a [routerLink]="['login']">
          <button mat-flat-button>Log in</button>
        </a>
      }
    </div>
  </div>
</div>
